
/* Grid */
.col {
  padding: 0.5rem;
}

@media (min-width: 600px) {
  .row,
  .column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    /* default way for 100% height flex-items children */
  }
  .column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .col {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0%;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
  }
  .col:only-child {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    width: 100%;
    max-width: 100%;
  }
  .has-nested-grid {
    border: none;
    /* fallback for 100% height flex-items children (Safari, Android, IE) */
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .has-nested-grid > * {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
  .has-nested-grid > * {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .col--fixed100 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100px;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    width: 100px;
    max-width: 100px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
  .col--fixed200 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 200px;
        -ms-flex: 0 0 200px;
            flex: 0 0 200px;
    width: 200px;
    max-width: 200px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
  .col--fixed300 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 300px;
        -ms-flex: 0 0 300px;
            flex: 0 0 300px;
    width: 300px;
    max-width: 300px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
  .col--fixed400 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 400px;
        -ms-flex: 0 0 400px;
            flex: 0 0 400px;
    width: 400px;
    max-width: 400px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
  .col--fixed500 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 500px;
        -ms-flex: 0 0 500px;
            flex: 0 0 500px;
    width: 500px;
    max-width: 500px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
  .col--fixed600 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 600px;
        -ms-flex: 0 0 600px;
            flex: 0 0 600px;
    width: 600px;
    max-width: 600px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
  .col--fixed700 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 700px;
        -ms-flex: 0 0 700px;
            flex: 0 0 700px;
    width: 700px;
    max-width: 700px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
  .col--fixed800 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 800px;
        -ms-flex: 0 0 800px;
            flex: 0 0 800px;
    width: 800px;
    max-width: 800px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
  .col--fixed900 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 900px;
        -ms-flex: 0 0 900px;
            flex: 0 0 900px;
    width: 900px;
    max-width: 900px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
  .col--fixed1000 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 1000px;
        -ms-flex: 0 0 1000px;
            flex: 0 0 1000px;
    width: 1000px;
    max-width: 1000px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
  .col--flex10 {
    -webkit-flex-basis: 10%;
        -ms-flex-preferred-size: 10%;
            flex-basis: 10%;
    width: 10%;
    max-width: 10%;
  }
  .col--flex-push10 {
    margin-left: 10%;
  }
  .col--flex-pull10 {
    margin-left: -10%;
  }
  .col--flex20 {
    -webkit-flex-basis: 20%;
        -ms-flex-preferred-size: 20%;
            flex-basis: 20%;
    width: 20%;
    max-width: 20%;
  }
  .col--flex-push20 {
    margin-left: 20%;
  }
  .col--flex-pull20 {
    margin-left: -20%;
  }
  .col--flex30 {
    -webkit-flex-basis: 30%;
        -ms-flex-preferred-size: 30%;
            flex-basis: 30%;
    width: 30%;
    max-width: 30%;
  }
  .col--flex-push30 {
    margin-left: 30%;
  }
  .col--flex-pull30 {
    margin-left: -30%;
  }
  .col--flex40 {
    -webkit-flex-basis: 40%;
        -ms-flex-preferred-size: 40%;
            flex-basis: 40%;
    width: 40%;
    max-width: 40%;
  }
  .col--flex-push40 {
    margin-left: 40%;
  }
  .col--flex-pull40 {
    margin-left: -40%;
  }
  .col--flex50 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    width: 50%;
    max-width: 50%;
  }
  .col--flex-push50 {
    margin-left: 50%;
  }
  .col--flex-pull50 {
    margin-left: -50%;
  }
  .col--flex60 {
    -webkit-flex-basis: 60%;
        -ms-flex-preferred-size: 60%;
            flex-basis: 60%;
    width: 60%;
    max-width: 60%;
  }
  .col--flex-push60 {
    margin-left: 60%;
  }
  .col--flex-pull60 {
    margin-left: -60%;
  }
  .col--flex70 {
    -webkit-flex-basis: 70%;
        -ms-flex-preferred-size: 70%;
            flex-basis: 70%;
    width: 70%;
    max-width: 70%;
  }
  .col--flex-push70 {
    margin-left: 70%;
  }
  .col--flex-pull70 {
    margin-left: -70%;
  }
  .col--flex80 {
    -webkit-flex-basis: 80%;
        -ms-flex-preferred-size: 80%;
            flex-basis: 80%;
    width: 80%;
    max-width: 80%;
  }
  .col--flex-push80 {
    margin-left: 80%;
  }
  .col--flex-pull80 {
    margin-left: -80%;
  }
  .col--flex90 {
    -webkit-flex-basis: 90%;
        -ms-flex-preferred-size: 90%;
            flex-basis: 90%;
    width: 90%;
    max-width: 90%;
  }
  .col--flex-push90 {
    margin-left: 90%;
  }
  .col--flex-pull90 {
    margin-left: -90%;
  }
  .col--flex100 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    width: 100%;
    max-width: 100%;
  }
  .col--flex-push100 {
    margin-left: 100%;
  }
  .col--flex-pull100 {
    margin-left: -100%;
  }
  .col--flex25 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    width: 25%;
    max-width: 25%;
  }
  .col--flex-push25 {
    margin-left: 25%;
  }
  .col--flex-pull25 {
    margin-left: -25%;
  }
  .col--flex75 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    width: 75%;
    max-width: 75%;
  }
  .col--flex-push75 {
    margin-left: 75%;
  }
  .col--flex-pull75 {
    margin-left: -75%;
  }
  .reverse-grid.row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .reverse-grid.column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .col--order0 {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
  }
  .col--order1 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .col--order2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .col--order3 {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }
  .col--order4 {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
  }
  .col--order5 {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5;
  }
  .col--order6 {
    -webkit-box-ordinal-group: 7;
    -webkit-order: 6;
        -ms-flex-order: 6;
            order: 6;
  }
  .col--order7 {
    -webkit-box-ordinal-group: 8;
    -webkit-order: 7;
        -ms-flex-order: 7;
            order: 7;
  }
  .col--order8 {
    -webkit-box-ordinal-group: 9;
    -webkit-order: 8;
        -ms-flex-order: 8;
            order: 8;
  }
  .col--order9 {
    -webkit-box-ordinal-group: 10;
    -webkit-order: 9;
        -ms-flex-order: 9;
            order: 9;
  }
  .col--order10 {
    -webkit-box-ordinal-group: 11;
    -webkit-order: 10;
        -ms-flex-order: 10;
            order: 10;
  }
  .col--orderfirst {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
  }
  .col--orderlast {
    -webkit-box-ordinal-group: 1000;
    -webkit-order: 999;
        -ms-flex-order: 999;
            order: 999;
  }
}
